.title {
  margin-top: 1.5rem;
  margin-bottom: 0;
  border: none;
}

.description {
  display: block;
  margin: 0;
  color: #999;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.date {
  display: block;
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.article {
  margin: 2rem 0;
}

.articleEnd {
  margin: 2rem 0;
}

.pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
}
