@import '../../../styles/media-queries.scss';

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.category {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  height: 24px;
  padding: 0 16px;
  background-color: #268b07;
  color: white;
  font-size: 0.8rem;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @include mq-sm() {
    width: 80px;
    height: 16px;
    padding: 0;
    font-size: 0.625rem;
    line-height: 16px;
    text-align: center;
  }
}

.texts {
  height: 152px;
  overflow: hidden;
  color: inherit;
  text-decoration: none;

  &:hover a {
    text-decoration: none;
  }

  @include mq-sm() {
    max-height: 72px;
  }
}

.tags {
  overflow: hidden;
  
  @include mq-sm() {
    & li {
      margin: 0;
      border: 0;
      padding: 0;

      &:after {
        content: '/';
        padding: 0 0.25rem;
      }
    }
  }
}
