@import '../../../styles/media-queries.scss';

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.texts {
  max-height: 112px;
  overflow: hidden;
  
  @include mq-sm() {
    max-height: 72px;
  }
}

.tags {
  overflow: hidden;
  
  @include mq-sm() {
    & li {
      margin: 0;
      border: 0;
      padding: 0;

      &:after {
        content: '/';
        padding: 0 0.25rem;
      }
    }
  }
}
