@import '../../../styles/media-queries.scss';

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 0.75rem;
  z-index: 9000;
  background-color: white;
  box-shadow: 0px 4px 24px rgba(102, 102, 102, 0.1);
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding: 2.5rem 1.25rem;

  @include mq-sp() {
    padding: 1rem 0.75rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 0 0.75rem;
  background-color: #333;
  color: white;

  @include mq-sp() {
    height: auto;
    padding: 1rem 0;
    font-size: 0.875rem;
  }
}

// .headerBig {
//   font-size: 3rem;
//   line-height: 3.25rem;
//   margin-bottom: 2rem;
//   margin-top: 0px;

//   @include mq-sp() {
//     font-size: 2rem;
//   }
// }

.headerInner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40rem;
}

.headerSiteTitle {
  flex-grow: 1;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.25;

  @include mq-sp() {
    font-size: 0.875rem;
  }
}

.siteName {
  display: flex;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.headerSocials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.socialItem {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;

  @include mq-sp() {
    font-size: 0.875rem;
  }

  &:not(:last-child):after {
    content: '/';
    padding: 0 0.5rem;
    font-size: 1rem;

    @include mq-sp() {
      font-size: 0.875rem;
    }
  }
}

.footerInner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40rem;

  @include mq-sp() {
    flex-direction: column;
  }
}

.footerAvatar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footerLink {
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.footerCopyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;

  @include mq-sp() {
    margin-top: 1rem;
  }
}
