.root {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 2.5rem 1.25rem;
}

.headerBig {
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 2.5rem;
  margin-top: 0px;
}

.headerSmall {
  margin-top: 0px;
}

.siteName {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
