$mq-lg: 1279px;
$mq-md: 959px;
$mq-sp: 767px;
$mq-sm: 639px;

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin mq-md {
  @media screen and (max-width: $mq-md) {
    @content;
  }
}

@mixin mq-sp {
  @media screen and (max-width: $mq-sp) {
    @content;
  }
}

@mixin mq-sm {
  @media screen and (max-width: $mq-sm) {
    @content;
  }
}
