@import '../../../styles/media-queries.scss';

$mq-col1: 639px;

.root {
  height: 100%;
  margin: 0 auto;
  border: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.posts {
  width: 912px;
  height: 100%;
  margin: 0 auto;
  border: 0;
  padding: 32px 0;

  display: flex;
  flex-wrap: wrap;

  @include mq-md() {
    width: 608px;
    margin: 0 auto;
  }

  @include mq-sm() {
    width: 100%;
  }
}
