@import '../../../styles/media-queries.scss';

.item {
  display: flex;
  overflow: hidden;
  height: 164px;
  padding: 1rem 0;

  @include mq-sp() {
    overflow: hidden;
    height: 144px;
    border-bottom: 1px dashed #ccc;
  }

  // &:not(:last-child) {
  //   border-bottom: 1px dashed #ccc;
  // }
}

.description {
  flex-grow: 1;
  max-width: calc(100% - 144px);

  @include mq-sp() {
    max-width: calc(100% - 96px);
  }
}

.imageWrap {
  flex-shrink: 0;
  width: 128px;
  max-height: 128px;
  margin-left: 16px;

  @include mq-sp() {
    overflow: hidden;
    width: 80px;
    max-height: 80px;
  }
}

.title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.2;

  .link:hover & {
    text-decoration: underline;
  }
}

.link {
  display: block;
  box-shadow: none;
  color: black;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.linkText {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  @include mq-sp() {
    font-size: 1rem;
  }
}

.excerpt {
  overflow: hidden;
  max-height: 3.25rem;
  margin: 0.5rem 0;
  color: #aaa;
  font-size: 0.875rem;
  line-height: 1.25;

  @include mq-sp() {
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1.5;
    max-height: 2.25rem;
  }
}

.dateAndTags {
  overflow: hidden;
  height: 24px;
}
