.root {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 16px 0;
}

.item {
  cursor: pointer;
  margin: 0 16px 0 0;
  padding: 0;
}

.hatebu {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.hatebuImage {
  border: none;
  border-radius: 50%;
}
