.tags {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 24px;
  margin: 0;
}

.link {
  display: inline-block;
  box-shadow: none;

  &:hover {
    text-decoration: none;
  }
}

.tag {
  height: 24px;
  margin-right: 8px;
  border-radius: 12px;
  padding: 0 8px;

  font-size: 0.625rem;
  line-height: 2;
  color: black;
  background: #f2f2f2;
  white-space: nowrap;
}
